:root {
  --main-color: #431934;
  --secondary-color: #927091;
  --accsent-color: #fedadc;
  --white-color: #fcf5fc;
}

* {
  box-sizing: border-box;
}
body {
  font-style: normal;
  line-height: 1.5;
  font-weight: 400;
  color: #232323;
  position: relative;
  background-color: #fcf5fc;
}

.checkout .payment .Phone_Number input,
.checkout .payment .Phone_Number textarea {
  border: 1px solid #e7d4e7;
}
section,
.container,
.container-fluid {
  position: relative;
  word-wrap: break-word;
}

a.mbr-iconfont:hover {
  text-decoration: none;
}

.article .lead p,
.article .lead ul,
.article .lead ol,
.article .lead pre,
.article .lead blockquote {
  margin-bottom: 0;
}

a {
  font-style: normal;
  font-weight: 400;
  cursor: pointer;
}

a,
a:hover {
  text-decoration: none;
}

.mbr-section-title {
  font-style: normal;
  line-height: 1.3;
}

.mbr-section-subtitle {
  line-height: 1.3;
}

.mbr-text {
  font-style: normal;
  line-height: 1.7;
}

h1,
h2,
h3,
h4,
h5,
h6,
.display1,
.display2,
.display4,
.display5,
.display7,
span,
p,
a {
  line-height: 1;

  font-weight: 400;
}

b,
strong {
  font-weight: bold;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-transition-delay: 9999s;
  transition-delay: 9999s;
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
}

textarea[type="hidden"] {
  display: none;
}

section {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

section .mbr-background-video,
section .mbr-background-video-preview {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}

.hidden {
  visibility: hidden;
}

.mbr-z-index20 {
  z-index: 20;
}

.mbr-white {
  color: var(--white-color);
}

.mbr-black {
  color: #111111;
}

.mbr-bg-white {
  background-color: var(--white-color);
}

.mbr-bg-black {
  background-color: #000000;
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.mbr-light {
  font-weight: 300;
}

.mbr-regular {
  font-weight: 400;
}

.mbr-semibold {
  font-weight: 500;
}

.mbr-bold {
  font-weight: 700;
}

.form-control {
  background-color: var(--white-color);
  background-clip: border-box;
  color: #232323;
  line-height: 1rem !important;
  height: auto;
  padding: 0.6rem 1.2rem;
  -webkit-transition: border-color 0s ease 0s;
  transition: border-color 0s ease 0s;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px,
    rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px,
    rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
}
.display1 {
  color: var(--main-color);
  font-family: "Quicksand", sans-serif;
  font-size: 2.875rem;
  line-height: 1.1;
}
.display2 {
  color: var(--main-color);
  font-family: "Quicksand", sans-serif;
  font-size: 2rem;
  line-height: 1.1;
}

.display4 {
  color: var(--main-color);
  font-family: "Quicksand", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

.display5 {
  color: var(--main-color);
  font-family: "Quicksand", sans-serif;
  font-size: 1.375rem;
  line-height: 1.5;
}

.display7 {
  font-family: "Crimson Text", serif;
  font-size: 1.125rem;
  line-height: 1.5;
}
.Btn {
  font-weight: 400;
  padding: 0.5625rem 2.3125rem;
  border-radius: 0px;
}

.section {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
.overlay {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
  pointer-events: none;
}
/* paginate ----------------- */
.active > .page-link,
.page-link.active {
  background-color: #843e78 !important;
  border-color: #843e78 !important;
}
.page-link {
  color: #843e78;
}
.page-link:hover {
  color: #ccaccc;
}
.page-item[data-v-849a166c] {
  margin: 0px 2px;
}
.checkout .payment .Phone_Number input[data-v-537e45e3], .checkout .payment .Phone_Number textarea[data-v-537e45e3] {
  border: 1px solid #e7d4e7;
}
@media screen and (max-width: 991px) {
  .display1 {
    font-size: 2.0125rem;
    font-size: calc(
      1.65625rem + (2.875 - 1.65625) * ((100vw - 20rem) / (48 - 20))
    );
    line-height: calc(
      1.1 * (1.65625rem + (2.875 - 1.65625) * ((100vw - 20rem) / (48 - 20)))
    );
  }
}
